<div class=" d-flex align-items-center justify-content-center">

    <div class=" d-flex align-items-center justify-content-center ">

        <div class="align-items-center rounded-5  border shadow-lg p-4 m-4 text-center bg-white ">

            <h1 class=" pb-0 text-center" style="font-size: 50px; font-weight: bold;">Perfil</h1>
            @if(userdata){
                <div class="d-flex flex-column align-items-center">
                    <img src="../../assets/men.jpg" alt="" class="rounded-5 m-1 img-fluid icono-responsive"
                        style="max-width: 100px; max-height: 100px;">
                    <label for="" class="dmsans-subtitle" style="font-size: 100%;">{{userSummary?.fullName}}</label>
                </div>
    
            }
          

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-auto p-0"><img src="../../assets/star_yellow.png" alt="" class="rounded-5"
                        style="width: 20px; height: 20px;"></div>
                <div class="col-auto p-0"><img src="../../assets/star_yellow.png" alt="" class="rounded-5"
                        style="width: 20px; height: 20px;"></div>
                <div class="col-auto p-0"><img src="../../assets/star_yellow.png" alt="" class="rounded-5"
                        style="width: 20px; height: 20px;"></div>
                <div class="col-auto p-0"><img src="../../assets/star_yellow.png" alt="" class="rounded-5"
                        style="width: 20px; height: 20px;"></div>
                <div class="col-auto p-0"><img src="../../assets/star_yellow.png" alt="" class="rounded-5"
                        style="width: 20px; height: 20px;"></div>
            </div>
            <div class="p-4">
                <button class="btn btn-red btn-lg poppins-bold my-3" (click)="logout()">Cerrar sesion</button>
                <button class="btn btn-black btn-lg poppins-bold mb-3" [routerLink]="'/edit-profile'">Editar perfil</button>
                <button class="btn btn-black btn-lg poppins-bold mb-3" [routerLink]="'/mis-viajes'">Mis viajes</button>
            

                <div class="">
                    <p class="p-1 text-start mb-0">Viajes realizados: {{userSummary?.completedTrips}}</p>
                    <p class="p-1 text-start">Viajes pendientes: {{userSummary?.pendingTrips}}</p>
                </div>



            </div>


            <app-phone-navbar></app-phone-navbar>

        </div>

    </div>
</div>