<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100" *ngIf="viajeSelected">
    <div class="text-center rounded-3 shadow-lg p-4 m-4 bg-white" style="width: 90%; max-width: 400px;">
        <label class="py-2"><a class="link" (click)="gotochat()">Volver</a></label>
        <!-- Header del Chofer -->
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="ms-3 text-center">
                <h5 class="m-3">Chofer: {{ viajeSelected.driverName }}</h5>
                <p class="m-0 text-center" style="font-size: 0.9rem;">
                    {{ viajeSelected.origin }} - {{ viajeSelected.destination }} 
                </p>
                <p class="m-0 text-center" style="font-size: 0.9rem;">
                    {{ viajeSelected.date | date:'dd MMMM yyyy hh:mm a' }}
                </p>
            </div>
        </div>

    

        <!-- Monto a Pagar -->
        <div class="bg-light-green p-3 my-3 rounded-3" style="background-color: rgb(62, 215, 62);">
            <h5 class="text-center">MONTO A PAGAR: <strong>$1000</strong></h5>
            <p class="text-center m-0" style="font-size: 0.9rem;">Monto calculado en la división de 4 asientos que tiene el vehículo, cada uno paga este monto incluyendo el chofer</p>
        </div>

        <!-- Advertencia -->
        <p class="text-center text-muted mb-3" style="font-size: 0.85rem;">SE ENCUENTRA PROHIBIDO LUCRAR CON EL VIAJE. SOLAMENTE SE COMPARTEN GASTOS Y EXISTEN TOPES MÁXIMOS. <span class="text-danger">DENUNCIA CUALQUIER CASO DE SOBREPRECIOS</span></p>

        <!-- Botón de Pago -->
        <button class="btn btn-success w-100 p-2 mb-3" (click)="onSubirmeClick()">Señar</button>
    </div>
</div>
