<div class="home  d-flex align-items-center justify-content-center">

    <div class=" d-flex align-items-center justify-content-center ">

        <div class="align-items-center rounded-5  border shadow-lg p-4 m-4 text-center bg-white ">
            <h1 class=" pb-0 text-center" style="font-size: 50px; font-weight: bold;">Alertas</h1>

            <div class="flex-column align-items-center justify-content-center p-5">
             
            </div>
            <div class="justify-content-center">
               <app-phone-navbar></app-phone-navbar>
            </div>
         

        </div>

    </div>
</div>
