<div class="container">
    <h2 class="mt-4">Listado de Viajes</h2>
    <p>Aquí puedes ver el listado de todos los viajes según su estado.</p>
    <hr class="my-4">
 
    <!-- Filtros -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="estado" class="form-label">Filtrar por estado</label>
        <form [formGroup]="estadoForm">
            <select class="form-control" formControlName="estado" (change)="filtrarPorEstado()">
              <option value="TODOS">Todos</option>
              <option value="PENDING">Pendientes</option>
              <option value="CREATED">Creados</option>
              <option value="IN PROGRESS">En Progreso</option>
              <option value="CANCELED">Cancelados</option>
              <option value="FINISHED">Finalizados</option>
            </select>
          </form>
          
          
      </div>
      <div class="col-md-6">
        <label for="searchInput" class="form-label">Buscar en la tabla</label>
        <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchText" (input)="searchTable()" placeholder="Escribe para buscar...">
      </div>
    </div>
  
    <!-- Tabla de viajes -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID Viaje</th>
          <th scope="col">Nombre del Chofer</th>
          <th scope="col">Pasajeros</th>
          <th scope="col">Origen</th>
          <th scope="col">Destino</th>
          <th scope="col">Fecha de Inicio</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viaje of filteredViajes">
          <td>{{ viaje.id }}</td>
          <td>{{ viaje.driverName }}</td>
          <td>
            <ul>
              <li *ngFor="let passenger of viaje.passengers">{{ passenger }}</li>
            </ul>
          </td>
          <td>{{ viaje.origin }}</td>
          <td>{{ viaje.destination }}</td>
          <td>{{ formatDate(viaje.startDate) }}</td>
          <td>
            <span class="badge" [ngClass]="{
                'bg-success': viaje.status === 'FINISHED',
                'bg-warning': viaje.status === 'PENDING' || viaje.status === 'IN PROGRESS',
                'bg-info': viaje.status === 'CREATED',
                'bg-danger': viaje.status === 'CANCELED',
                'bg-secondary': viaje.status === 'DELETED'
              }">
                {{ formatStatus(viaje.status) }}
  </span>
  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  





  










  